<div class="mainFrame">
    <div class="spacer"></div>
    <div class="description">
        <p>The TED Tutor is a free online computer tutoring system that teaches Elementary and Middle School students how to design properly controlled experiments.  TED guides students through multiple phases of interactive assessment and instruction, while providing rich progress reports to teachers.</p>
    </div>

    <div class="portals">

        <div class="svgBtn" ng-click="tedIntro()" id="Sintro">                
            <div class="startPrompt"><img width="60px" src="assets/StartHerePrompt.png"></div>

            <img class="tedThumbnail" src="assets/intro_thumbnail.png" alt="Introducing: The TED Tutor">
            <div class="portal_title whitetext">What is<br>The TED Tutor?</div>
            <img class="arrow" src="assets/orange-arrow.png" alt="Take a Guided Tour">
        </div>

        <div class="svgBtn" ng-click="goToPortal()" id="Sportal">
            <img class="tedThumbnail" src="assets/portal_thumbnail.png" alt="Teacher Portal">
            <div class="portal_title whitetext">Teacher Portal</div>
            <div class="portal_descr whitetext"> Learn how to register for and use the TED Tutor.</div>
            <img class="arrow" src="assets/orange-arrow.png" alt="Teacher Portal">
        </div>

        <div class="svgBtn" ng-click="goToResearch()" id="Sresearch">
            <img class="tedThumbnail" src="assets/students_thumbnail.png" alt="About the Research">
            <div class="portal_title whitetext">About the Research</div>
            <div class="portal_descr whitetext">Learn about the research behind the TED Tutor.</div>
            <img class="arrow" src="assets/orange-arrow.png" alt="About the Research">
        </div>

    </div>
</div>