        <div class="portals centerportals">
            
            <div class="svgBtnB" ng-click="goToManual()" id="Smanual">
                <img class="tedThumbnail" src="assets/manualthumbnail.png" alt="User Manual">
                <div class="portal_title blacktext">User Manual</div>
                <div class="portal_descr blacktext">Learn about using TED</div>
                <img class="arrow" src="assets/orange-arrow.png" alt="User Manual">
            </div>

            <div class="svgBtnB" ng-click="goToRequirements()" id="Srequirements">
                <img class="tedThumbnail" src="assets/requirementsthumbnail.png" alt="System Requirements">
                <div class="portal_title blacktext">System<BR>Requirements</div>
                <div class="portal_descr blacktext"></div>
                <img class="arrow" src="assets/orange-arrow.png">
            </div>
                
            <div class="svgBtnB" ng-click="goToRegister()" id="Sregister">
                <img class="tedThumbnail" src="assets/registerthumbnail.png" alt="Register">
                <div class="portal_title blacktext">Register</div>
                <div class="portal_descr blacktext">Set up an educator account <br>to use TED</div>
                <img class="arrow" src="assets/orange-arrow.png" alt="Teacher Portal">
            </div>

            <div class="svgBtnB" ng-click="goToDemo()" id="Sdemo">
                <img class="tedThumbnail" src="assets/demothumbnail.png" alt="Demo Portal">
                <div class="portal_title blacktext">Demo Portal</div>
                <div class="portal_descr blacktext">View TED in Demo Mode</div>
                <img class="arrow" src="assets/orange-arrow.png" alt="About the Research">
            </div>
        </div>
