        <div class="reqPrompt">Please visit this page from a <b>student</b> computer while<br>it is operating within your school network.</div>
        
        <div class="reqinfo">
            <p class="relPosition vertCenter">TED requires Adobe Flash version 11.3 or later.<br><br>You have Flash Version: <span id="flashVersion">Testing...</span></p>
            <div class="checkMark vertCenter">
                <div class="check vertCenter" id="imgA" ><img id="reqimgA" src="assets/loader/loader.gif" alt="checking..."></div>
            </div>            
            <a href="flashError.html"><div id="flashError" class="solutions">Click here for Solutions</div></a>
        </div>
        
        <div class="reqinfo">
            <p class="relPosition vertCenter">TED uses Network Port: 12003.<br><br>Testing Port: <span id="portTestResult">Waiting...</span></p>
            <div class="checkMark vertCenter">
                <div class="check vertCenter"> 
                    <div id="portTest" >
                        <div id="portTestFL" ><img id="reqimgB" src="assets/holdIcon.png" alt="checking..."></div>
                    </div>
                </div>
            </div>            
            <a href="portError.html"><div id="portError" class="solutions">Click here for Solutions</div></a>
        </div>

        <a href="TEDready.html"><div id="readyForTED" class="nextSteps">You're ready to use TED<br>Click here see the next steps</div></a>
        
