<div class="btn-group pubs_radio">    
    
  <label class="btn pubs_pad btn-warning" ng-model="litModel" btn-radio="'papers'"     ng-click="goToPapers()" >Papers and Posters</label>
  <label class="btn pubs_pad btn-warning" ng-model="litModel" btn-radio="'background'" ng-click="goToBackground()" >Background Research</label>
  <label class="btn pubs_pad btn-warning" ng-model="litModel" btn-radio="'projects'"   ng-click="goToProjects()">Previous Projects</label>
    
</div>

<div ui-view class="pubsFrame  reveal-animation"></div>
  