<div class="flowdata">

    <h4 class="hdr_List">Six key findings of the TED Tutor project, with supporting materials:</h4>
    
    <ol>
    <li class="ref_List">The results of two studies comparing student transfer outcomes from TED to a lesson from a local school district's science curriculum. We also discuss results of prompting students to think more about the problems caused by confounded variables on their learning and transfer performance.
    <br>
        <a href="http://www.tedtutor.com/pdf/TED_vs_Control_EffectCausalPrompts.pdf">The Effect of Causal identification Prompts on Far transfer Performance in Comparisons of Two Lessons on Experimental Design [Poster]</a>
    <br>
    </li>

    <li class="ref_List">Conceptual understanding of why controlling variables is necessary predicts students' ability to transfer their knowledge of CVS.
    <br>
        <a href="http://www.tedtutor.com/pdf/Siler_etal_2010.pdf">Siler, S. A., Klahr, D., Magaro, C., Willows, K., & Mowery, D. (2010). Predictors of transfer of experimental design skills in elementary and middle school children. <i>Proceedings of the 10th ITS 2010 Conference. Lecture Notes in Computer Science, 6095</i>, 198-208.</a>
    <br>
    </li>

    <li class="ref_List">Lower-knowledge students--or students who were confused about the purpose of the experimental-design activity--benefited from a warm-up activity prior to a CVS lesson in TED. In contrast, higher-knowledge--or students who understood the purpose of the activity as designing experiments to find out about a particular variable--benefited more from spending this time engaged in instructional activities in TED.
    <br>
        <a href="http://www.tedtutor.com/pdf/Siler_Klahr_Price_2012.pdf">Siler, S. A., Klahr, D., & Price, N. (2012). Investigating the mechanisms of learning from a constrained preparation for future learning activity. <i>Instructional Science, 41</i>(1), 191-216.DOI:10.1007/s11251-012-9224-7.</a>
    <br>
    </li>

    <li class="ref_List">We have identified several common misconceptions among students learning about experimental design. For example, some students--especially younger students and students from lower-SES (socio-economic status) populations--misinterpret the instruction as about discussing the effect of the variables or as setting up the conditions to produce a particular effect or what they consider to be the "best" outcome. Students generally appear to learn how to design good experiments incrementally, or one rule at a time, rather than "all at once."
        <br>
        <a href="http://www.tedtutor.com/pdf/Siler_Klahr_Matlen_2013.pdf">Siler, S. A., Klahr, D., & Matlen, B. (2013). Conceptual change when learning experimental design. In Vosniadou, S. (Editor) <i>2nd Edition of the International Handbook of Research on Conceptual Change</i>, Routledge.</a>
    <br>
    </li>

    <li class="ref_List">The best way to frame instruction on CVS depends on student characteristics. We found that non-standard framings (e.g. as "solving brain teasers" vs. the traditional framing as "designing science experiments") may be particularly beneficial for younger (e.g., fifth-grade) and lower-SES (socioeconomic status) student populations. However, older students and students with more inquiry-related knowledge benefited most from the traditional "science experiment" framing.
        <br>
        <a href="http://www.tedtutor.com/pdf/Siler_Klahr_2014.pdf">Siler, S. A. & Klahr, D. (Under Review).</i></a>
    <br><br>
    </li>

    <li class="ref_List">Although "concrete" details of example experiments (e.g., the type of surface of a ramp) may distract some student from the purpose of the activity, this information may also support students' understanding of why controlling variables is necessary. In this study, we varied the concreteness of example experiments used during instruction, from abstract experiments described in terms of "variables" that were "the same" or "different" across conditions to more concrete experiments that contained real variables (e.g., a "rough" or "smooth surface"). Students generally learned more from the more concrete versions of the experiments.
    <br>
        <a href="http://www.tedtutor.com/pdf/Siler_Klahr_2014_2.pdf">Siler, S. A. & Klahr, D. (Manuscript in Preparation). The effect of surface-feature concreteness on sixth- and seventh-grade students’ learning and transfer of experimental design skills.</a>
    </li>

</div>
