

<div class="profile-gallery">
    
    <div class="profile">
        <div class="name">Dr. David Klahr</div>
        <hr class="underline">
        
        <div class="contact-info bodyColor">Co-Principal Investigator
            <br>klahr@cmu.edu
            <br>[<a href="http://www.psy.cmu.edu/~klahr/">website</a>]
            <br>[<a href="http://www.tedtutor.com/pdf/KlahrVita_2014.pdf">vita</a>]
        </div>
    </div>

    <div class="profile">
        <div class="name">Dr. Stephanie Siler</div>
        <hr class="underline">

        <div class="contact-info bodyColor">Co-Principal Investigator
            <br>siler@cmu.edu
            <br>[<a href="http://www.tedtutor.com/pdf/SilerVita_Aug15_2014.pdf">vita</a>]
        </div>
    </div>

    <div class="profile">
        <div class="name">Kevin Willows</div>
        <hr class="underline">

        <div class="contact-info bodyColor">Research Programmer
            <br>kevinwillows@cmu.edu
            <br>[<a href="http://www.tedtutor.com/pdf/WillowsVita_Oct_2014.pdf">vita</a>]
        </div>
    </div>    

    <div class="profile">
        <div class="name">Cressida Magaro</div>
        <hr class="underline">

        <div class="contact-info bodyColor">Research Associate
            <br>cmagaro@cmu.edu
        </div>
    </div>
    
</div>