<div class="overviewFrame">
    
    <img class="wrap" src="assets/students.jpg">
    <div>
            <p>Funded via grants from the Institute for Education Sciences (IES:R305H060034 & R305A100404) and the National Science Foundation (NSF:SBE-0354420 & SBE-086012), the TED Tutor project developed an intelligent computer-based tutoring system that improved science instruction in late elementary through middle school grades. Instruction in TED focuses on both procedural and conceptual aspects of designing and interpreting experiments. The conceptual aspects include helping students understand why variables 
    must be controlled. To that end, TED features a Bayesian engine, which allows TED to assign students to particular instruction pathways based on their incoming knowledge levels as well as to provide remedial instruction when necessary.
                    <br>
                <br>Our research and development process iterated through a series of increasingly computerized and adaptive modules. Beginning with human-delivered instruction with physical materials, we incrementally developed what is now a fully-functioning adaptive computer tutor that consists of pre-assessments, two main instructional pathways featuring training in both creating and evaluating experiments, and a far-transfer post-test.</p>
    </div>
        
</div>